@import "tailwindcss";

/* .active{
    background-color: gray;
    padding: 7px 15px;
    border-radius: 20px;
} */

.active {
    background-color: gray;
    padding: 5px 10px;
    border-radius: 20px;
    transition: background-color 0.3s ease, padding 0.3s ease, border-radius 0.3s ease;
}

.active:hover {
    background-color: darkgray; 
     padding: 5px 10px;
}